<br>
<h1 class="text-center">Welcome to Wedding Planner!</h1>
<p>Please register or login below.</p>
<hr>
<br>

<div>
    <partial name="RegisterPartial"/>
    <br>
    <partial name="LoginPartial"/>
</div>